﻿<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoLocation Test</title>
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/geolocation.css">
  </head>
  <body class="container">
    <!-- Content -->
    <h1 id="title">GeoLocation Test</h1>
    <div id="logoff">
      <button type="button" class="btn btn-link" id="btnLogIn" data-toggle="modal" data-target="#logInSignUpModal" data-action="login">Log-In</button> / <button type="button" class="btn btn-link" id="btnSignUp" data-toggle="modal" data-target="#logInSignUpModal" data-action="register">Sign Up</button>
    </div>
    <div id="logged">
        <p> Welcome, <span id="username"></span> </p>
    </div>
    <hr/>
    <div id="messageCenter"></div>
    <section id="content" class="container">
      <div class="dashboard row">
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <h4>Locate yourself</h4>
            <button id="btnGetMyLocation" class="btn btn-default btn-success">Locate me</button>
            <hr/>
          </div>
          <div class="row">
            <h4>Locate a website</h4>
            <form id="formGeoLocation">
              <input id="txtWebsite" type="url" class="form-control website" required value="http://" name="website" />
              <input class="btn btn-success" type="submit" value="Locate website" />
            </form>
            <hr/>
          </div>
          <div class="row">
            <h4>Reset</h4>
            <button id="btnResetLocation" class="btn btn-default">Reset location</button>
          </div>
          <div id="favoriteList">
            <h4>List of Favorites</h4>
            <div id="favorites">
            </div>
          </div>
        </div>
        <div id="location" class="col-lg-6 col-sm-12 text-center">
        </div>
      </div>
      <div class="row">
        <hr/>
        <div id="googleMap" class="col-lg-12 col-sm-12"></div>
      </div>
    </section>

    <!-- Templates -->
    <script id="favoritesTemplate" type="text/x-handlebars">
      {{#each this}}
        <p>Host Name: <span>{{host_name}}</span></p><br>
        <p>Host IP: <span>{{host_ip}}</span></p><br>
        <button type="button" class="btn btn-danger" id="removeFavorite" data-id="{{_id}}">Remove</button>
        <hr>
      {{/each}}
    </script>
    <script id="locationTemplate" type="text/x-handlebars">
      <h4>Estimated location</h4>
      <table id="locationTable" align="center" class="table table-striped empty">
        <tbody>
          <tr>
            <td class="field-name">IP</td>
            <td id="query" class="location-value">{{query}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Country</td>
            <td class="location-value">{{country}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Region</td>
            <td class="location-value">{{regionName}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">City</td>
            <td class="location-value">{{city}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Time Zone</td>
            <td class="location-value">{{timezone}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Latitude</td>
            <td class="location-value">{{lat}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Longitude</td>
            <td class="location-value">{{lon}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
        </tbody>
      </table>
      <div id="favButton">
          <button type="button" class="btn btn-success" id="btnFavoriteAdd">Add as Favorite</button>
      </div>
    </script>

    <script id="messageTemplate" type="text/x-handlebars">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
    </script>

    <!-- Modals -->

    <div class="modal fade" id="logInSignUpModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel"></h5>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="logInSignUpForm" action="/">
              <div class="form-group">
                <label for="usernameLbl" class="col-form-label">Username</label>
                <input type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="pwdLbl" class="col-form-label">Password</label>
                <input type="password" class="form-control" name="pwd">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="btnLogInSignIn">Enter</button>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="js/libs/jquery-1.11.2.min.js"></script>
    <script src="js/libs/handlebars-v2.0.0.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/libs/gmaps.min.js"></script>
    <script src="js/geolocation.js"></script>
    <script src="js/api.js"></script>
  </body>
</html>
